

/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
	box-sizing:border-box;  
	
  }
  @font-face {
	font-family: "Starbucks";
	src: url(../fonts/49f6eaa3630c71e3-s.p.woff);
}
  

  
  /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  :root {
	  /* startje */
	  color-scheme: light dark;
	  --color-text-black: light-dark(#000000, #ffffff);
	  --color-text-white:light-dark(#ffffff,#000000);
	  --color-background-green:light-dark(#006242, #fdf4e3);
	  --color-button-green:#006242;
	  --color-button-white:light-dark(#ffffff, #006242);
	  --color-background-white:light-dark(#ffffff,#430202);
	  --color-background-grey:light-dark(#f7f7f7,#023701f0);
      --color-background-lightgreen:light-dark(#01754b, #fdf4e3);
	  --color-focus:#ff0000;
	  --color-footer:light-dark(#1e3932, #006224);
	  --color-header:light-dark(#ffffff, #006224);
  }

/*********************/
/*****algemeen********/
/*********************/




:focus-visible {
	outline: 4px solid var(--color-focus);
  }



  /****************/
  /* JOUW STYLING */
  /****************/
  

  header {
	background-color: var(--color-header);
	height: 4em;
	color: var(--color-text-black); 
	justify-content: space-between;
	align-items: center;
	padding: 0.9em;
	display:flex;
	position:sticky;
	top:0; 
  }


  header img {
	max-height: 90%;
  }

  header nav ul{
	color: var(--color-text-black);
	position:fixed;
	/* background-color: #ff0000; */
	left:0;
	right:0;
	top:0;
	bottom:0;
	translate:100% 0%;
	transition:translate .3s;
	padding-top: 4em;
  }

  header nav button {
	background-color: #01754b;
	position:relative;
	z-index:100;
  }


nav.toonMenu ul {
	translate:0% 0%;
  }

  nav.toonMenu button img {
	content:url(https://assets.codepen.io/274456/ui-icon-cross.svg);
  }

  nav button img {
	content: url(https://assets.codepen.io/274456/ui-icon-hamburger.svg);
  }

@media (min-width: 1024px) { 
    header nav ul {
		display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.5em;

        /* FIXES */
        position: static;      /* niet fullscreen */
        translate: 0 0;        /* menu weer zichtbaar */
        background: none;      /* rood scherm weghalen */
        height: auto; 
		width: auto;
        height: auto;
        padding: 0;
        margin: 0;         /* geen gekke hoogte */
        list-style: none; 
    }
	nav button {
		display: none;
  }
  }
  

  body {
	margin:0;
	background-color: var(--color-background-white)
  }

/*********************/
/*******footer********/
/*********************/

footer { 
background-color: var(--color-footer);
  padding:1em;
	height: 50em;
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-template-rows:auto auto auto auto;
  color: #f7f7f7;

}

footer img {
	max-width: 3em;
  grid-column: 1;
  grid-row: 1;
}

footer nav {
  color:white;
  text-decoration:0;
  list-style: none;
  grid-column:1;
  grid-row:2;
}

footer div{
  max-width:0.5em;
  color: #ffffff;
  grid-column: 1;
  grid-row: 4;
  display:flex;
  flex-direction:row;
  gap:2em
}

footer ul{
  grid-row:3;
  color: #f7f7f7;
  grid-column:1;
  list-style:none;
}

footer li{
  margin-bottom:1em;
  color: #fdf4e3;
}


/* @media (prefers-color-scheme: dark){
	
} */

